.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;

}
.loginLeft,.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo{
    font-weight: 700;
    font-size: 40px;
    color: #1775ee;
    margin-bottom: 10px;
}
.loginDesc{
    font-size: 22px;
}
.loginBox{
    height: 445px;

    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 10px;
}
.loginInput:focus{
    outline: none;
}
.loginBtn{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}
.loginBtn:disabled{
    cursor: not-allowed;
}
.loginForget{
    text-align: center;
    color: #1775ee;
}

.loginRegisterBtn{
    width: 60%;
    height: 50px;
    color: white;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}