.rightbar{
    flex: 4;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.rightbarWrapper{
    padding: 20px 20px 0 0 ;
}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText{
    font-size: 15px;
    font-weight: 300;
}

.rightbarAd{
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
}
.rightbarTitle{
    margin-bottom: 20px;
}
.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
