.rightbar{
    flex: 4;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.rightbarWrapper{
    padding: 20px 20px 0 0 ;
}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText{
    font-size: 15px;
    font-weight: 300;
}

.rightbarAd{
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
}
.rightbarInfo{
    margin-bottom: 10px;
}
.rightbarInofoItem{
    margin-bottom: 10px;
}
.rightbarTitle{
    margin-bottom: 20px;
}
.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightbarTitle{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}
.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
.rightbarInfoKey{
    font-weight: 300;
}
.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}